@model KriptoFeet.Users.Models.UserProfile
@{
    ViewData["Title"] = "AdminProfile";
}

    <div class="row">
        <div class="col-md-12">       
            <div class=" containerNew">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <figure>
                        <img class="profImag img-fluid img-circle"  src="/Images/Avatar/@Model.AvatarId"  alt="Photo" img align="middle" >                    
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                       <div class="row">
                            <div class="col-xs-12 col-sm-6 ">
                                <div class = "user_content">
                                    <br>
                                    <h3><strong>@Model.Nickname</strong></h3>
                                    <br>
                                    <p>@Model.Email</p>
                                    <p>Администратор</p>
                                </div>
                            </div>
                            <div  class="col-xs-12 col-sm-6 ">
                                <br><br>
                                <div class="padding_but">
                                        <a asp-area="" asp-controller="User" asp-action="UserProfileSettings" class="btn btn-primary btn-md">
                                            <span class="glyphicon glyphicon-cog icon_color " aria-hidden="true "></span> Настройки
                                        </a>
                                </div>                                             
                            </div>
                            <div  class="col-xs-12 col-sm-12 " >
                                <hr >
                                <ul class ="inline_fot" >                           
                                    <li>
                                        <font size="3px">
                                            <p >Новостей:  <span class="badge badge_color">@Model.News.Count</span></p>
                                        </font>                            
                                    </li>
                                    <li>                     
                                        <font size="3px">
                                            <p > Комментариев:  <span class="badge badge_color">@Model.Comments.Count</span></p>
                                        </font>
                                    </li> 
                                    <li >                                               
                                        <div align ="right">
                                            <a asp-area="" asp-controller="ContentManager" asp-action="CreateNews" class="btn btn-primary btn-md">
                                                <span class="glyphicon glyphicon-pencil icon_color " aria-hidden="true "></span> Добавить новость
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <br>
                                <ul class ="inline_fot_2" >                           
                                    <li>
                                        <font size="3px">
                                            <p >Новостных групп:  <span class="badge badge_color">@Model.Categories.Count</span></p>
                                        </font>                            
                                    </li>
                                    <li>                     
                                        <font size="3px">
                                            <p >Контент-менеджеров:  <span class="badge badge_color">@Model.ContentManagers.Count</span></p>
                                        </font>
                                    </li> 
                                    <li >                                               
                                        <div align ="right">
                                            <a asp-area="" asp-controller="Admin" asp-action="CreateGroup" class="btn btn-primary btn-md">
                                                <span class="glyphicon glyphicon-pencil icon_color " aria-hidden="true "></span> Добавить группу
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                </hr>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-12">
            <br>
            <br>
            <div class="tabs">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" title="Вкладка 1">Новости</label>
            
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" title="Вкладка 2">Комментарии</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3" title="Вкладка 3">Новостные группы</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4" title="Вкладка 4">Контент-менеджеры</label>
            

            
                <section id="content-tab1">
                
                    
                    @{
                    }
                    @if (Model.News.Count==0)
                    {
                        <p>Нет новостей</p>
                    }
                    else
                    {
                        <p>
                        <div class="col-md-12">
                            @foreach(var n in Model.News)
                            {
                                @Html.Partial("SmallNewsForManagerPage", n)
                            }
                        </div>
                    </p>
                    }
                </section>  
                <section id="content-tab2">
                                       
                   @{
                    }
                    @if (Model.Comments.Count==0)
                    {
                        <p>Нет комментариев</p>
                    }
                    else
                    {
                        <p>
                       @foreach(var c in Model.Comments)
                        {
                            @Html.Partial("UserProfileComment", c)
                        }
                    </p>
                    }


                </section> 
                    <section id="content-tab3">
                    @{  
                    }
                    @if (Model.Categories.Count==0)
                    {
                        <p>Нет новостных групп</p>
                    }
                    else
                    {
                        <p>
                        @foreach(var g in Model.Categories)
                        {
                        @Html.Partial("SmallGroup", g)
                        }
                    </p>
                    }

                </section> 

                <section id="content-tab4">
                    <div class = "row">
                        <div class="col-md-6">
                            <h4 class="header-cont-manag-request">Действующие контент-менеджеры</h4>
                              @{
                            }
                            @if (Model.ContentManagers.Count==0)
                            {
                                <p>Нет контент-менеджеров</p>
                            }
                            else
                            {
                                <p>
                                @foreach(var c in Model.ContentManagers)
                                {
                                @Html.Partial("CurrContentManag", c)
                                }
                            </p>
                            }
                        </div>
                        <div class="col-md-6">
                            <h4 class="header-cont-manag-request">Заявки в контент менеджеры</h4>
                            @{
                                
                            }
                            @if (Model.ContentManagersRequests.Count==0)
                            {
                                <p>Нет новостных групп</p>
                            }
                            else
                            {
                                <p>
                                @foreach(var r in Model.ContentManagersRequests)
                                {
                                @Html.Partial("ContentManagReq", r)
                                }
                            </p>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>  
    </div>




