@model KriptoFeet.News.Models.NewsInfo
<div class="single-news">
        <h3 class ="h3_singlenews"><b>@Model.Title</b></h3>
        <ul class="info">
			<li><p><i class="about"></i>@Model.Author.Nickname</p></li>
            <li><p><i class="about"></i>@Model.Date</p></li>
            <li><p><i class="about"></i>Новостная группа:</p></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Сategory" asp-route-id=@Model.Category.Id class="a-single-news" >@Model.Category.Name</a></li>
		</ul> 
        <img src="/Images/News/@Model.Id" class="img-fluid" alt="Last news">
        <p class="last-news-text" height="100px">@Model.Body</p>
</div>