@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-8">
            <img src="~/images/last-news3.png" class="img-fluid" alt="Last news">
            <h4 class="header-with-line">Последняя новость</h4>
            <p class="last-news-text" height="100px">Много текста</p>
        </div>
        <div class="col-md-4">
            @Html.Partial("AboutPortal")
            @Html.Partial("Tabs")
        </div>
    </div>
    <div class="row">
         <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header" >Кино</a></h4>
             @Html.Partial("SmallNews")
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header">Концерты</a></h4>
            @Html.Partial("SmallNews")
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header" >Кафе</a></h4>
             @Html.Partial("SmallNews")
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header">Мероприятия</a></h4>
            @Html.Partial("SmallNews")
        </div>
    </div>
