@using KriptoFeet.News.Models
@model IEnumerable<KriptoFeet.Categories.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-8">
            <img src="~/images/last-news3.png" class="img-fluid" alt="Last news">
            <h4 class="header-with-line">@ViewBag.LastNews.Title</h4>
            <p class="last-news-text" height="100px">@ViewBag.LastNews.Body</p>
        </div>
        <div class="col-md-4">
            @Html.Partial("AboutPortal")
            @Html.Partial("Tabs")
        </div>
    </div>
    <div class="row">
        @foreach(var c in Model)
        {
         <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header" >@c.Name</a></h4>
             @Html.Partial("SmallNews", c.PopularNews)
        </div>
        }
    </div>
