@using KriptoFeet.Comments.Models
@model KriptoFeet.News.Models.NewsInfo
@{
    ViewData["Title"] = "News";
}

    <div class="row">
        <div class="col-md-8">

            @Html.Partial("SingleNews", Model)
 
        </div>
        <div class="col-md-4 ">
            @Html.Partial("AboutPortal")
            @Html.Partial("Tabs")
     
        </div>
   
   
        
        <div class="col-md-12">
            <h4 class="header-with-line">Комментарии</h4>
            @Html.Partial("AddCommentForm", new AddCommentRequest{Id = Model.Id, Comment = ""})
             <div class="col-md-7">
            <div class ="row">
             @foreach(var c in Model.Comments)
             {
            @Html.Partial("SmallUserComment", c)
             }
             </div>
        </div>
        </div>

    </div>




